<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
  <body>
    <div th:fragment="activity" class="card mb-0">
      <div class="card-body">
        <div class="col-12"><label>[[#{role_list}]]:</label></div>
        <div class="col-md-3 col-4"></div>
        <div class="col-md-9 col-8">
          <button
            class="btn btn-danger mb-2 d-none"
            id="profileLogout"
            onclick="ezyadmin.logout();"
          >
            [[#{logout}]] <i class="nav-icon fas fa-sign-out-alt"></i>
          </button>
        </div>
        <div class="col-lg-8 col-md-12">
          <table id="roleList" class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>[[#{role_name}]]</th>
                <th>[[#{added_at}]]</th>
                <th>[[#{actions}]]</th>
              </tr>
            </thead>
            <tbody id="roleListBody">
              <tr th:each="adminRoleName,iterator : ${adminRoleNames}">
                <td>[[${iterator.index + 1}]]</td>
                <td>
                  <a th:href="${'/admins/roles/' + adminRoleName.name}">
                    [[${adminRoleName.displayName}]]
                  </a>
                </td>
                <td class="date-time-string">[[${adminRoleName.createdAt}]]</td>
                <td>
                  <a
                    class="btn"
                    th:if="${adminRoles.isAccessible('/admins/roles/{roleName}')}"
                    th:href="${'/admins/roles/' + adminRoleName.name}"
                  >
                    <i class="fas fa-eye text-primary"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-12">
          <hr class="mb-4" />
        </div>
        <div
          class="col-12"
          th:if="${adminRoles.isAccessible('/api/v1/admins/{adminId}/activities')}"
        >
          <h3>[[#{activity_history}]]</h3>
        </div>
        <div class="col-lg-2"></div>
        <div class="col-lg-3 col-md-4 page-search">
          <label for="adminActivitySearchKeyword" class="text-nowrap"
            >[[#{search}]]:
          </label>
          <input
            type="search"
            class="form-control"
            th:placeholder="#{keyword}"
            id="adminActivitySearchKeyword"
            oninput="ezyadmin.onKeydownToSearchAdminActivity();"
            onkeydown="ezyadmin.onKeydownToSearchAdminActivity();"
          />
        </div>
        <div class="col-lg-3 col-md-3 page-search">
          <label for="adminActivitySearchHttpMethod" class="text-nowrap"
            >[[#{method}]]:
          </label>
          <select
            class="form-control form-select"
            id="adminActivitySearchHttpMethod"
            onchange="ezyadmin.onAdminActivitySearchHttpMethodChanged();"
          >
            <option value="">[[#{all}]]</option>
            <option
              th:each="httpMethod : ${httpMethods}"
              th:value="${httpMethod}"
            >
              [[${httpMethod}]]
            </option>
          </select>
        </div>
        <div class="col-lg-4 col-md-5 page-search">
          <label for="adminActivitySearchTimeRangePicker" class="text-nowrap"
            >[[#{time_range}]]:
          </label>
          <input
            type="text"
            class="form-control"
            id="adminActivitySearchTimeRangePicker"
          />
        </div>
        <div
          class="col-12"
          th:if="${adminRoles.isAccessible('/api/v1/admins/{adminId}/activities')}"
        >
          <div class="card">
            <div class="card-body table-responsive p-0">
              <table class="table table-bordered table-hover text-nowrap">
                <thead>
                  <tr>
                    <th>[[#{time}]]</th>
                    <th>[[#{action}]]</th>
                    <th>[[#{uri}]]</th>
                    <th>[[#{type}]]</th>
                    <th>[[#{feature}]]</th>
                    <th>[[#{parameters}]]</th>
                  </tr>
                </thead>
                <tbody id="adminActivityListBody"></tbody>
              </table>
            </div>
            <!-- /.card-body -->
            <div class="card-footer clearfix">
              <span
                ><span id="adminActivityCountText">1</span>
                [[${#strings.toLowerCase(#messages.msg('of'))}]]
                <span
                  id="totalAdminActivityText"
                  th:text="${totalAdminActivity}"
                  >100</span
                >
                [[${#strings.toLowerCase(#messages.msg('activities'))}]]
              </span>
              <ul class="pagination pagination-sm m-0 float-end">
                <li class="page-item">
                  <button class="page-link" id="firstPageButton">
                    <i class="fas fa-arrow-circle-left ps-1 pe-1"></i>
                  </button>
                </li>
                <li class="page-item">
                  <button class="page-link" id="prevPageButton">
                    [[#{prev}]]
                  </button>
                </li>
                <li class="page-item">
                  <button class="page-link" id="nextPageButton">
                    [[#{next}]]
                  </button>
                </li>
                <li class="page-item">
                  <button class="page-link" id="lastPageButton">
                    <i class="fas fa-arrow-circle-right ps-1 pe-1"></i>
                  </button>
                </li>
              </ul>
            </div>
            <!-- /.card-footer -->
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
