<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
  <body>
    <div th:fragment="infomation" class="card px-2 py-2">
      <div class="table-responsive">
        <table class="table table-borderless">
          <tbody>
            <tr>
              <th>[[#{username}]]:</th>
              <td>[[${selectedAdmin.username}]]</td>
            </tr>
            <tr class="d-none change-password">
              <th>[[#{password}]]:</th>
              <td>
                <button
                  type="button"
                  class="btn btn-outline-primary form-control"
                  onclick="ezyadmin.showChangePasswordModal();"
                >
                  [[#{change}]]
                </button>
              </td>
            </tr>
            <tr>
              <th>[[#{display_name}]]:</th>
              <td>[[${selectedAdmin.displayName}]]</td>
            </tr>
            <tr>
              <th>[[#{email}]]:</th>
              <td>
                <a th:href="${'mailto:' + selectedAdmin.email}">
                  [[${selectedAdmin.email}]]
                </a>
              </td>
            </tr>
            <tr>
              <th>[[#{phone}]]:</th>
              <td>
                <a th:href="${'tel:' + selectedAdmin.phone}">
                  [[${selectedAdmin.phone}]]
                </a>
              </td>
            </tr>
            <tr>
              <th>[[#{website}]]:</th>
              <td>
                <a th:href="${selectedAdmin.url}">[[${selectedAdmin.url}]]</a>
              </td>
            </tr>
            <tr>
              <th>[[#{allow_access_to_all_media}]]:</th>
              <td>
                <input
                  type="checkbox"
                  onclick="ezyadmin.onAllowAccessAllMediaChanged(this);"
                  th:checked="${(selectedAdmin.id == adminId && adminRoles.superAdmin) || allowAccessAllMedia}"
                  th:disabled="${(selectedAdmin.id == adminId && adminRoles.superAdmin) || !adminRoles.isAccessible('/api/v1/admins/{username}/allow-access-all-media', 'PUT')}"
                />
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <div id="adminDetailsProfilePlaceholder"></div>
              </td>
            </tr>
            <tr>
              <th>[[#{status}]]:</th>
              <td
                class="status-text"
                th:attr="status=|${selectedAdmin.status}|"
              >
                [[#{${selectedAdmin.status.toString().toLowerCase()}}]]
              </td>
            </tr>
            <tr>
              <th>[[#{created_at}]]:</th>
              <td class="date-time-string">[[${selectedAdmin.createdAt}]]</td>
            </tr>
            <tr>
              <th>[[#{updated_at}]]:</th>
              <td class="date-time-string">[[${selectedAdmin.updatedAt}]]</td>
            </tr>
            <tr>
              <td colspan="2"><div id="adminProfilePlaceholder"></div></td>
            </tr>
          </tbody>
        </table>
      </div>
      <!--end card-body-->
    </div>
  </body>
</html>
