<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{newadmin}"
>
  <body>
    <div layout:fragment="content" class="row">
      <div class="col-12">
        <div th:if="${originalTemplate != null}" th:replace="${originalTemplate}"></div>
        <div th:if="${originalTemplate == null}">
          <div class="alert alert-warning">
            <h4>Template Not Found</h4>
            <p>The requested template could not be found.</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>